{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}

{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Page Header -->
  <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">{% trans "Agregar Presupuesto" %}</h1>
    </div>
  </div>

  <div class="row">
    <!-- Formulario Principal -->
    <div class="col-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">{% trans "Información del Presupuesto" %}</div>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'app:add_budget' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <div class="alert alert-danger">
                {{ form.non_field_errors }}
              </div>
            {% endif %}
            <div class="row g-3">
              <!-- Título y Departamento -->
              <div class="col-md-4">
                <label class="form-label">{{ form.title.label }}</label>
                {{ form.title }}
                {% if form.title.errors %}
                  <div class="text-danger small">{{ form.title.errors }}</div>
                {% endif %}
              </div>
              <div class="col-md-4">
                <label class="form-label">{{ form.department.label }}</label>
                {{form.department}}
                {% if form.department.errors %}
                  <div class="text-danger small">{{ form.department.errors }}</div>
                {% endif %}
              </div>
              <!-- Status -->
              <div class="col-md-4">
                <label class="form-label">{% trans form.status.label %}</label>
                {{ form.status }}
                {% if form.status.errors %}
                  <div class="text-danger small">{{ form.status.errors }}</div>
                {% endif %}
              </div>

              <!-- Período -->
              <div class="col-xs-12 col-md-5 col-lg-5 col-xl-4">
                <label class="form-label">{{ form.due_date.label }}</label>
                {{ form.due_date }}
                {% if form.due_date.errors %}
                  <div class="text-danger small">{{ form.due_date.errors}}</div>
                {% endif %}
              </div>

              <!-- Montos -->
              <div class="col-xs-12 col-md-5 col-lg-5 col-xl-4">
                <label class="form-label">{{ form.total_mount.label }}</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  {{ form.total_mount }}
                  {% if form.total_mount.errors %}
                    <div class="text-danger small">{{ form.total_mount.errors}}</div>
                  {% endif %}
                </div>
              </div>
              <div class="col-xs-12 col-md-2 col-lg-2 col-xl-4">
                <label class="form-label">{{ form.currency.label }}</label>
                {{form.currency}}
                {% if form.currency.errors %}
                    <div class="text-danger small">{{ form.currency.errors}}</div>
                {% endif %}
              </div>

              <!-- Descripción -->
              <div class="col-12">
                <label class="form-label">{{ form.description.label }}</label>
                {{ form.description }}
                {% if form.description.errors%}
                  <div class="text-danger small">{{ form.description.errors}}</div>
                {% endif %}
              </div>

              <!-- Estado y Prioridad -->
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <label class="form-label">{{ form.type.label }}</label>
                {{form.type}}
                {% if form.type.errors %}
                  <div class="text-danger small">{{ form.type.errors}}</div>
                {% endif %}
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <label class="form-label">Subir Antecedentes o Comprobantes</label>
                <div class="input-group">
                    {{ file_form.file }}
                    <label class="input-group-text" for="comprobante">
                        <i class="ri-upload-2-line"></i>
                    </label>
                </div>
                <!-- <small class="text-muted">Formatos permitidos: PDF, JPG, PNG. Máx 5MB por archivo.</small> -->
              </div>
            </div>
            <div class="col-12">
              <!-- Acciones -->
              <div class="card custom-card">
                <div class="card-body">
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">
                      <i class="ri-save-line me-1"></i>{% trans "Guardar Presupuesto" %}
                    </button>
                    <a href="{% url 'app:list_budget' %}" class="btn btn-outline-secondary">
                      <i class="ri-arrow-left-line me-1"></i>{% trans "Cancelar" %}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>

    <!-- Panel Lateral -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function(){
    const totalMountInput = document.querySelector('input[name="total_mount"]');

    if(totalMountInput){

      if(totalMountInput.value){
        totalMountInput.value = formatNumber(totalMountInput.value);
      }

      totalMountInput.addEventListener('input', (e) =>{
        let value = e.target.value;

        let unformatted = value.replace(/\D/g, '');

        if(unformatted){
          e.target.value = formatNumber(unformatted)
        } else{
          e.target.value = '';
        }
      });

      totalMountInput.closest('form').addEventListener('submit', () => {
        totalMountInput.value = totalMountInput.value.replace(/\./g, '');
      });
    }
});

function formatNumber(value){
    value = value.replace(/\./g, '');

    return value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
}
</script>
{% endblock scripts %}